body {
    background-color: rgb(3, 36, 41);
  }
  h1 {
    color: rgb(160, 200, 49);
  }
  p {
    color: red;
  }
  
  p {
    border: 2px solid rgb(40, 157, 103);
    padding: 30px;
    margin: 50px;
}
